<title>DigiWatts</title>
<meta name="description" content="DigiWatts website.">
<meta name="author" content="Erik Mitchell">

<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="DigiWatts">
<meta property="og:title" content="DigiWatts">
<meta property="og:url" content="http://localhost:4000/">
<meta property="og:description" content="DigiWatts website.">

<link rel="canonical" href="http://localhost:4000/">

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    
      "@type": "Person",
      "name": "DigiWatts",
      "url": "http://localhost:4000/"
    
  }
</script>